/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * ==================
 * Start Here
 * ==================
 */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 10px of 16px */
    box-sizing: border-box;
    height: 100%;
}

body {
    color: white;
    background-color: #111111;
    position: relative;
    height: 100%;
    line-height: 1.5;
    font-size: 1.6rem;
    /* 16px */
    font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
}

.section:last-of-type {
    margin-bottom: 0;
}

.section__title {
    font-weight: 800;
    font-size: 5rem;
    position: relative;
}

.section__title::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 125%;
    transform: translateX(-50%);
    border-bottom: 3px dashed #00FF94;
}

/*
 * ==================
 * Navbar Component
 * ==================
 */
.nav {
    padding-top: 0rem;
    padding-bottom: 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(25px);
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow-y: scroll;
}

.nav__list-item {
    text-align: center;
    margin-bottom: 5rem;
}

.nav__list-link {
    color: #688277;
    position: relative;
    font-weight: 800;
    text-decoration: none;
    outline: none;
    font-size: 2rem;
}

.nav__list-link::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 99rem;
    background-color: #59FFB9;
    position: absolute;
    bottom: -12px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .15s ease-in-out;
}

.nav__list-link:focus,
.nav__list-link:hover {
    color: #59FFB9;
}

.nav__list-link:focus::before,
.nav__list-link:hover::before {
    transform: scaleX(1);
}

.nav__list-link.active {
    color: #59FFB9;
}

.nav__list-link.active:focus {
    color: #93ffd0;
}

.nav__list-link.active:focus::before {
    background-color: #93ffd0;
}

.nav__list-link.active::before {
    transform: scaleX(1);
}

.nav__hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    overflow: hidden;
}

.nav__hamburger-top,
.nav__hamburger-center,
.nav__hamburger-bottom {
    display: block;
    width: 95%;
    height: 3px;
    border-radius: 99rem;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__hamburger-top {
    top: 25%;
}

.nav__hamburger-center {
    top: 50%;
}

.nav__hamburger-bottom {
    top: 75%;
}

/*
 * ==================
 * Hero Header
 * ==================
 */
.hero-header {
    position: relative;
    overflow: hidden;
}

.header__container {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.header__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(to top, #111, #1110);
    z-index: -1;
}

.header__left {
    width: 100%;
    max-width: 900px;
}

.header__right {
    position: absolute;
    right: 0;
    z-index: -1;
    display: none;
}

.header__right img {
    width: 100%;
}

.header__sup-text {
    display: inline-flex;
    font-weight: 600;
    font-size: 1.2rem;
}

.header__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

.header__title-1,
.header__title-2 {
    display: block;
    position: relative;
}

.header__title-1::before,
.header__title-1::after,
.header__title-2::before,
.header__title-2::after {
    content: attr(data-role);
    position: absolute;
    left: 2px;
    top: 0;
    color: white;
    background: #111111;
    /* To create an illusion that the text is moving */
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    /* Only show some part of the clipped-text */
}

.header__title-1::before,
.header__title-2::before {
    text-shadow: -5px 0 #59FFB9;
    animation: distort-1 2s infinite linear alternate-reverse;
}

.header__title-1::after,
.header__title-2::after {
    text-shadow: -5px 0 #7218FA;
    animation: distort-2 2s infinite linear alternate-reverse;
}

.header__msg {
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    line-height: 1.8;
}

.header__resume {
    display: inline-flex;
    border-radius: 7px;
    text-decoration: none;
    background-color: #37AE7C;
    padding: 1.2rem 1.5rem;
    font-weight: 700;
    color: white;
    margin-top: 5rem;
    position: relative;
}

.header__resume:hover::before {
    width: 80%;
    height: 80%;
}

.header__resume::before {
    content: '';
    background-color: #00FF94;
    width: 120%;
    height: 120%;
    display: block;
    position: absolute;
    transition: all .15s ease-in-out;
    top: 50%;
    left: 50%;
    z-index: -1;
    filter: blur(30px);
    transform: translate(-50%, -50%);
}

/*
 * ==================
 * Services
 * ==================
 */

.service-cards {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    max-width: 1000px;
}

.service-card__box {
    flex: 1;
    max-width: 450px;
    min-width: 450px;
    margin-bottom: 7rem;
    border: 2px solid #00372b;
    padding: 1.5rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.service-card__illustration {
    display: flex;
    width: 250px;
}



.service-card__illustration img {
    width: 100%;
    pointer-events: none;
}

.service-card__title {
    font-weight: 800;
    font-size: 2rem;
    color: #00FF94;
    margin-top: 2rem;
}

.service-card__msg {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6;
}

.service-card__bg {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00FF94;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(30px);
    transform: translate(-50%, -50%);
}


/*
 * ==================
 * Resume
 * ==================
 */

.resume-card--hover-effect:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 255, 148, 0.3);
}

.resume-section__title--highlighted {
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
}

.resume-section__title--highlighted::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #00FF94;
    border-bottom: 2px dashed #00FF94;
    width: 100%;
}


.resume-card {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 4rem;
    border: 2px solid #00372b;
    padding: 2rem;
    border-radius: 15px;
    background-color: #001f16;
    position: relative;
    overflow: hidden;
}

.resume-card--full-width {
    width: 100%;
}

.resume-section {
    margin-top: 10rem;
    /* Margine superiore per separare dalla sezione precedente */
    margin-bottom: 7rem;
    /* Margine inferiore per la separazione dalla sezione successiva */
}

.resume-section__title {
    font-weight: 800;
    font-size: 2.5rem;
    color: #00FF94;
    border-bottom: 2px dashed #00FF94;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    text-align: left;
}

.resume-item {
    margin-bottom: 4rem;
    padding: 2rem;
    border: 2px solid #00372b;
    border-radius: 15px;
    background-color: #001f16;
    /* Background per mantenere il contrasto con il testo */
    position: relative;
    overflow: hidden;
}

.resume-item h4 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #00FF94;
    margin-bottom: 0.5rem;
}

.resume-date {
    font-size: 1.2rem;
    color: #cbcbcb;
    margin-bottom: 1rem;
    display: block;
}

.resume-role {
    font-weight: 600;
    font-size: 1.5rem;
    color: #00FF94;
    margin-bottom: 1rem;
}

.resume-description {
    list-style: none;
    padding-left: 0;
}

.resume-description li {
    font-weight: 600;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.6;
    position: relative;
    margin-bottom: 1rem;
}

.resume-description li::before {
    content: "•";
    color: #00FF94;
    margin-right: 0.5rem;
    position: absolute;
    left: -1.5rem;
}

/* Effetti Visivi */
.resume-item::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00FF94;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(30px);
    transform: translate(-50%, -50%);
}


/*
 * ==================
 * Works
 * ==================
 */

.education-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 5rem;
}

.education-card {
    border: 2px solid #00372b;
    padding: 2rem;
    border-radius: 15px;
    background-color: #26222d;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #59FFB9, 0 0 30px #59FFB9, 0 0 45px #59FFB9;
}

.education-card h3 {
    font-weight: 800;
    font-size: 1.8rem;
    color: #00FF94;
    margin-bottom: 0.5rem;
}

.education-date {
    font-size: 1.2rem;
    color: #cbcbcb;
    margin-bottom: 1rem;
    display: block;
}

.education-degree {
    font-weight: 600;
    font-size: 1.5rem;
    color: #00FF94;
    margin-bottom: 1rem;
}

.education-description {
    list-style: none;
    padding-left: 0;
}

.education-description li {
    font-weight: 600;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.6;
    position: relative;
    margin-bottom: 1rem;
}

.education-description li::before {
    content: "•";
    color: #00FF94;
    margin-right: 0.5rem;
    position: absolute;
    left: -1.5rem;
}


/*
 * ==================
 * Works
 * ==================
 */
.works {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.work {
    width: 100%;
    padding: 2%;
}

.work__box {
    border-radius: 20px;
    padding: 1.5rem;
    background-color: #26222d;
}

.work__box:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 0 15px #59FFB9, 0 0 30px #59FFB9, 0 0 45px #59FFB9;
    /* Glowing green shadow */
}

.work__box:hover::before {
    opacity: 0.2;
    /* Control the intensity of the glow */
}

.work__box h3 a:visited {
    color: #00FF94;
    /* Ensures the visited link remains green */
}



.resume {
    width: 100%;
    padding: 2%;
}

.resume__box {
    border-radius: 20px;
    padding: 1.5rem;
    background-color: #26222d;
}

.resume__box:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 0 15px #59FFB9, 0 0 30px #59FFB9, 0 0 45px #59FFB9;
    /* Glowing green shadow */
}

.resume__box:hover::before {
    opacity: 0.2;
    /* Control the intensity of the glow */
}

.resume__box h3 a:visited {
    color: #00FF94;
    /* Ensures the visited link remains green */
}



.interest {
    width: 100%;
    padding: 2%;
}

.interest__box {
    border-radius: 20px;
    padding: 1.5rem;
    background-color: #26222d;
}

.interest__box:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 0 15px #59FFB9, 0 0 30px #59FFB9, 0 0 45px #59FFB9;
    /* Glowing green shadow */
}

.interest__box:hover::before {
    opacity: 0.2;
    /* Control the intensity of the glow */
}

.interest__box h3 a:visited {
    color: #00FF94;
    /* Ensures the visited link remains green */
}






.work__img-box {
    width: 100%;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
}

.work__img-box img {
    width: 100%;
}

.work__title {
    color: #00FF94;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.work__badges {
    display: flex;
    margin-top: 2rem;
    overflow: hidden;
}

.work__badge {
    background-color: #59ffb91c;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
}











/* Skills Section */
#skills {
    text-align: center;
    margin-top: 5rem;
}

.skills__description {
    font-size: 1.8rem;
    margin-bottom: 4rem; /* Increased spacing below the description */
    color: #cbcbcb;
}

/* Skill Cards */
.skills__cards {
    
    display: flex;
    justify-content: center;
    gap: 3rem; /* Increased spacing between the cards */
    margin-bottom: 5rem; /* Increased spacing below the skill cards */
}

.skills__card {
    border-radius: 20px;
    background-color: #26222d;
    padding: 2rem;
    width: 180px;
    box-shadow: 0 0 15px #59ffba89, 0 0 30px #59ffba89;
    text-align: center;
}

.skills__card-icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
}

.skills__card-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #00FF94;
    margin-bottom: 0.5rem;
}

.skills__card-details {
    font-size: 1.2rem;
    color: #fffdfd;
}

/* Skill Icons */
.skills__icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.skills__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills__icon {
    width: 100px;
    height: 100px;
    background-color: #26222d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #59ffba89, 0 0 30px #59ffba89;
    margin-bottom: 1rem;
}

.skills__icon img {
    width: 50%;
    height: 50%;
}

.skills__icon-title {
    color: #00FF94;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1.5rem; /* Increased spacing below the icon */
}

/* Title and Subtitle Spacing */
.section__title {
    margin-bottom: 3rem; /* Increased spacing below the main title */
}

.skills__description {
    margin-bottom: 6rem; /* Increased spacing below the subtitle */
    margin-top: 2rem; 
}







/*
 * ==================
 * Articles
 * ==================
 */


.article-link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}


.article-link:hover .work__box {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #59FFB9, 0 0 30px #59FFB9, 0 0 45px #59FFB9;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* Space between boxes */
    justify-content: center;
    /* Centers the items if they don’t fill the row */

}

.article {
    flex: 1 1 30%;
    max-width: 350px;
    min-width: 250px;
}
















/*
 * ==================
 * Contact
 * ==================
 */
.contact {
    max-width: 800px;
    display: flex;
    width: 100%;
    margin-top: 15rem;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.contact__form {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.contact__illustration {
    display: none;
}

.contact__field-wrapper {
    margin-bottom: 5rem;
}

.contact__field-wrapper label {
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: .8rem;
    display: inline-flex;
}

.contact__field-wrapper input[type="text"],
.contact__field-wrapper textarea {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    display: block;
    width: 100%;
}

.contact__field-wrapper input[type="text"]:focus,
.contact__field-wrapper textarea:focus,
.contact__field-wrapper input[type="text"]:hover,
.contact__field-wrapper textarea:hover {
    border-style: solid;
}

.contact__field-wrapper input[type="text"] {
    padding: 1.5rem;
    border: 2px dashed #64fcd9;
}

.contact__field-wrapper textarea {
    padding: 1rem;
    border: 2px dashed #64fcd9;
    resize: none;
    height: 150px;
    line-height: 1.6;
}

.contact__illustration {
    position: relative;
}

.contact__illustration img {
    pointer-events: none;
    width: 100%;
}

.contact__illustration::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #64fcd9;
    display: block;
    z-index: -1;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact__submit-btn {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 2rem 2rem;
    border-radius: 7px;
    font-weight: 700;
    font-family: inherit;
    font-size: 1.6rem;
    background-color: #64fcd9;
    width: 100%;
    position: relative;
    color: #111;
}

.contact__submit-btn:hover::before {
    transform: scale(0.3);
}

.contact__submit-btn::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #64fcd9;
    filter: blur(150px);
    left: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    transition: all .35s ease-in-out;
}






.contact-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.contact-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-links li {
    margin-bottom: 3rem;
}

.contact-links a {
    color: #00FF94;
    /* Green color for the links */
    font-size: 1.8rem;
    /* Adjust font size as needed */
    font-weight: bold;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}




/*
 * ==================
 * Footer
 * ==================
 */
.footer {
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    backdrop-filter: blur(75px);
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.footer__link {
    color: #64fcd9;
}





/*
 * ==================
 * Pop-up
 * ==================
 */

/* Modal Overlay */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    max-width: 650px;
    /* Set a maximum width for larger screens */
    width: 90%;
    /* Adjust width for responsiveness on smaller screens */
    background-color: #111;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    overflow-y: auto;
    max-height: 90%;
}

.modal-content h3 {
    color: #59FFB9;
    /* Adjust the shade of green as needed */
    margin-bottom: 0.5rem;
    /* Adds spacing between title and description */
}

/* Back Arrow Styling */
.close-button {
    display: inline-block;
    color: #59FFB9;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    /* Adjusted for more spacing */
    left: 20px;
    background-color: transparent;
    /* Remove background if it overlaps */
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Image Styling in Modal */
.modal img {
    width: 100%;
    border-radius: 8px;
}

.modal-description {
    margin-top: 2rem;
    /* Adjust spacing as needed */
    margin-bottom: 5rem;
    /* Adjust spacing as needed */
}

/* Style for the badges */
.modal-badges {
    display: flex;
    gap: 0.5rem;
    /* Space between badges */
    flex-wrap: wrap;
    margin-top: 2rem;
    /* Adjust spacing as needed */
    margin-bottom: 2rem;
    /* Adjust spacing as needed */
}

.repository-button {
    display: inline-block;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.5rem;
    background-color: #37AE7C;
    /* Adjust color as needed */
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.repository-button:hover {
    background-color: #2b8d63;
    /* Adjust hover color as needed */
}

#portfolioModal {
    display: none;
}



/*
 * ========================
 * Mobile Screen -- 408px
 * ========================
 */

/* Regole per schermi molto piccoli - inferiore a 400px */
@media only screen and (max-width: 430px) {

    .section__title {
        font-size: 3rem;
        /* Riduce ulteriormente la dimensione del font */
        text-align: center;
        /* Allineamento al centro per migliorare la leggibilità */
        line-height: 1.2;
        /* Line-height più compatto */
    }

    .container {
        max-width: 95%;
        /* padding: 0 1rem; */
    
    }

    /* Altre regolazioni per elementi all'interno delle sezioni */
    .work__title,
    .card .h5 {
        font-size: 2rem;
        /* Dimensione ridotta per i titoli dei certificati o dei progetti */
    }

    .work__description,
    .card .category {
        font-size: 1.5rem;
        /* Font più piccolo per descrizioni o dettagli */
    }

    .work__box,
    .card-body {
        padding: 1.5rem;
        /* Riduce il padding per risparmiare spazio */
    }

    /* Regole per il bottone */
    .header__resume,
    .work__badge {
        font-size: 1.4rem;
        /* Riduce il font dei bottoni */
    }



    .service-cards {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0;
    }

    .service-card__box {
        width: 100%; /* Ensure full width */
        max-width: 95%; /* Keep some margin on each side */
        padding: 1rem;
        box-sizing: border-box;
        font-size: 1.4rem;
    }

    /* Illustrazione */
    .service-card__illustration img {
        width: 200px;
        /* Riduce la dimensione dell'immagine */
        height: auto;
        margin-bottom: 0.5rem;
        /* Aggiusta il margine inferiore */
    }

    /* Titoli e Testo */
    .service-card__box h3 {
        font-size: 2rem;
        /* Riduce la dimensione del titolo */
        margin-bottom: 0.3rem;
        /* Riduce il margine inferiore */
    }

    .resume-date {
        font-size: 1.4rem;
        /* Riduce la dimensione della data */
    }

    .resume-role {
        font-size: 1.5rem;
        /* Riduce la dimensione del ruolo */
        font-weight: bold;
    }

    .resume-description li {
        font-size: 1.5rem;
        /* Riduce la dimensione del testo nella lista */
        margin-bottom: 0.3rem;
        /* Riduce il margine inferiore tra gli elementi */
    }

    /* Aggiusta il background */
    .service-card__bg {
        display: none;
        /* Nasconde o riduce l'effetto di background per schermi molto piccoli */
    }

    /* Allinea meglio gli elementi */
    .service-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-left: 0; /* Elimina padding aggiuntivo */
        padding-right: 0;
    }


    .service-card__box {
        width: 100%;
        max-width: 100px;
        margin: 0 auto;
        padding: 1rem;
        box-sizing: border-box;
    
    }






    .section__title {
        font-size: 3rem; /* Reduced main title font size */
        margin-bottom: 1.5rem;
    }

    .skills__description {
        font-size: 1.4rem; /* Reduced subtitle font size */
        margin-bottom: 3rem;
    }

    /* Skill Cards */
    .skills__cards {
        flex-direction: row; /* Stack skill cards vertically */
        gap: 1.5rem; /* Reduced gap between cards */
        margin-bottom: 3rem; /* Reduced space below cards */
    }

    .skills__card {
        padding: 1.5rem; /* Reduced padding */
        width: 90%; /* Make cards narrower */
        margin: 0 auto;
        font-size: 1.5rem; /* Reduce font size in cards */
    }

    .skills__card-title {
        font-size: 1.5rem; /* Adjusted title size */
        margin-bottom: 0.3rem;
    }

    .skills__card-details {
        font-size: 1.5rem; /* Adjusted details font size */
    }

    /* Skill Icons */
    .skills__icons {
        flex-direction: row; /* Stack icons vertically */
        gap: 1.5rem; /* Reduced gap between icons */
    }

    .skills__icon-box {
        font-size: 1.2rem; /* Reduced font size for labels */
    }

    .skills__icon {
        width: 70px; /* Reduced icon size */
        height: 70px;
        margin-bottom: 0.5rem;
    }

    .skills__icon img {
        width: 50%; /* Adjust icon image size */
        height: 50%;
    }

    .skills__icon-title {
        font-size: 1.5rem; /* Reduced label font size */
    }





}


/*
 * ========================
 * Small Screen -- 576px
 * ========================
 */
@media only screen and (min-width: 36em) {
    .container {
        max-width: 540px;
    }

    /* Header */
    .header__right {
        display: block;
        opacity: 0.3;
    }

    .header__title {
        flex-direction: row;
    }

    .header__title-1 {
        margin-right: 1.5rem;
    }

    /* Navbar */
    .nav__list {
        height: unset;
        flex-direction: row;
        justify-content: flex-end;
        overflow-y: unset;
    }

    .nav__list-item {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .nav__list-item:last-of-type {
        margin-right: 0;
    }

    .nav__list-link {
        font-size: 1.3rem;
    }

    .nav__hamburger-btn {
        display: none;
    }

    /* Works */
    .work {
        width: 50%;
    }

    .article {
        width: 50%;
    }





}

/*
 * ========================
 * Medium Screen -- 768px
 * ========================
 */
@media only screen and (min-width: 48em) {
    .container {
        max-width: 760px;
    }

    .service-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .service-card__box {
        width: 28%;
        max-width: 350px;
    }

    .service-card__illustration {
        width: 100%;
        max-width: 150px;
        height: 150px;
    }

    .article {
        width: 50%;
    }

    .resume__box {
        max-width: 350px;
    }

    .interest__box {
        max-width: 400px;
    }
}

/*
 * ========================
 * Large Screen -- 992px
 * ========================
 */
@media only screen and (min-width: 62em) {
    .container {
        max-width: 960px;
    }

    .section__title {
        font-size: 5rem;
    }

    .work {
        width: 33.33333333333333%;
        flex-direction: column;
    }

    .resume {
        width: 50%;
        flex-direction: column;
    }

    .interest {
        width: 100%;
        flex-direction: column;
    }

    .article {
        width: 33.33333333333333%;
    }

    .contact__form {
        width: 40%;
        margin-left: unset;
    }

    .contact__illustration {
        width: 60%;
        display: flex;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .article-link {
        width: 100%;
        max-width: 450px;
    }

    .article {
        width: 50%;
    }
}

/*
 * ======================================
 * Large Screen Extended -- 1000px
 * ======================================
 */
@media only screen and (min-width: 62.5em) {
    .header__right {
        width: 500px;
        opacity: 1;
        top: 35px;
    }
}

/*
 * ========================
 * XLarge Screen -- 1200px
 * ========================
 */
@media only screen and (min-width: 75em) {
    .container {
        max-width: 1140px;
    }

    .header__title {
        font-size: 8rem;
    }

    .section {
        margin-bottom: 13rem;
    }
}

/*
 * ========================
 * XXLarge Screen -- 1400px
 * ========================
 */
@media only screen and (min-width: 87.5em) {
    .container {
        max-width: 1320px;
    }
}


/*
 *
 * Animations
 *
 */
@keyframes distort-1 {
    0% {
        clip: rect(57px, 9999px, 46px, 0);
    }

    5% {
        clip: rect(15px, 9999px, 56px, 0);
    }

    10% {
        clip: rect(6px, 9999px, 70px, 0);
    }

    15% {
        clip: rect(40px, 9999px, 80px, 0);
    }

    20% {
        clip: rect(32px, 9999px, 44px, 0);
    }

    25% {
        clip: rect(65px, 9999px, 85px, 0);
    }

    30% {
        clip: rect(27px, 9999px, 78px, 0);
    }

    35% {
        clip: rect(59px, 9999px, 93px, 0);
    }

    40% {
        clip: rect(44px, 9999px, 77px, 0);
    }

    45% {
        clip: rect(74px, 9999px, 10px, 0);
    }

    50% {
        clip: rect(73px, 9999px, 42px, 0);
    }

    55% {
        clip: rect(32px, 9999px, 58px, 0);
    }

    60% {
        clip: rect(21px, 9999px, 54px, 0);
    }

    65% {
        clip: rect(71px, 9999px, 11px, 0);
    }

    70% {
        clip: rect(85px, 9999px, 25px, 0);
    }

    75% {
        clip: rect(83px, 9999px, 77px, 0);
    }

    80% {
        clip: rect(62px, 9999px, 52px, 0);
    }

    85% {
        clip: rect(68px, 9999px, 84px, 0);
    }

    90% {
        clip: rect(37px, 9999px, 20px, 0);
    }

    95% {
        clip: rect(10px, 9999px, 15px, 0);
    }

    100% {
        clip: rect(83px, 9999px, 28px, 0);
    }
}

@keyframes distort-2 {
    0% {
        clip: rect(20px, 9999px, 96px, 0);
    }

    5% {
        clip: rect(62px, 9999px, 2px, 0);
    }

    10% {
        clip: rect(63px, 9999px, 39px, 0);
    }

    15% {
        clip: rect(92px, 9999px, 75px, 0);
    }

    20% {
        clip: rect(54px, 9999px, 2px, 0);
    }

    25% {
        clip: rect(22px, 9999px, 96px, 0);
    }

    30% {
        clip: rect(39px, 9999px, 98px, 0);
    }

    35% {
        clip: rect(49px, 9999px, 37px, 0);
    }

    40% {
        clip: rect(90px, 9999px, 17px, 0);
    }

    45% {
        clip: rect(36px, 9999px, 57px, 0);
    }

    50% {
        clip: rect(92px, 9999px, 78px, 0);
    }

    55% {
        clip: rect(97px, 9999px, 65px, 0);
    }

    60% {
        clip: rect(69px, 9999px, 30px, 0);
    }

    65% {
        clip: rect(92px, 9999px, 13px, 0);
    }

    70% {
        clip: rect(74px, 9999px, 76px, 0);
    }

    75% {
        clip: rect(2px, 9999px, 45px, 0);
    }

    80% {
        clip: rect(30px, 9999px, 21px, 0);
    }

    85% {
        clip: rect(58px, 9999px, 34px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 27px, 0);
    }

    95% {
        clip: rect(32px, 9999px, 1px, 0);
    }

    100% {
        clip: rect(87px, 9999px, 63px, 0);
    }
}